* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

.main {
  height: 100%;
  width: 100%;
  position: relative;
}
nav {
  height: 100px;
  width: 100%;
  border-bottom: 2px solid #dadada;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4vw;
}
.nav-part2 {
  display: flex;
  /* background-color: blue; */
  gap: 4vw;
  justify-content: space-between;
  align-items: center;
}
nav h2 {
  font-size: 2.5vw;
  font-weight: 700;
}
nav h4 {
  font-size: 1.5vw;
}
nav i {
  font-weight: 800;
  display: none;
}
nav button {
  font-size: 1.2vw;
  padding: 1vw 1.5vw;
  background-color: #d268cc;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  border: none;
}
.content {
  height: calc(100% - 100px);
  width: 100%;
  display: flex;
}
.left {
  width: 55%;
  height: 100%;
  padding: 5vw 4vw;
}
.right {
  width: 45%;
  height: 100%;
}
.left h1 {
  font-size: 4.2vw;
  line-height: 4.4vw;
}
.left h1 span {
  color: #d268cc;
  font-weight: 600;
}
.left p {
  font-size: 1.2vw;
  font-weight: 600;
  color: #666;
  width: 80%;
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
}
.content button {
  font-size: 1.2vw;
  padding: 1vw 2vw;
  background-color: #d268cc;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  margin-top: 1.5vw;
  margin-bottom: 4vw;
}
.right img {
  height: 100%;
  width: 100%;
}

@media (width<=600px) {
  nav {
    height: 60px;
    padding: 0 6vw;
  }
  nav h2 {
    font-size: 7vw;
  }
  nav h4 {
    font-size: 5.1vw;
    display: none;
  }
  nav i {
    display: inline-block;
  }
  nav button {
    display: none;
  }
  .content {
    height: (100% - 60px);
    display: flex;
    flex-direction: column;
  }
  .left {
    width: 100%;
    height: 55%;
   
  }
  .left h1 {
    font-size: 8vw;
    line-height: 8vw;
    
   
  }
  .left p 
  {
    font-size: 2.5vw;
    width: 90%;
    margin-top: 5vw;
    margin-bottom: 6vw;
  }
  .right {
  margin-top: 22px;
    width: 80%;
    height: 45%;
    object-fit: cover;
    object-position: top;
  }
  .content button 
  {
    font-size: 3vw;
    padding: 2vw 2vw;
    background-color: #d268cc;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    margin-top: 1.5vw;
    margin-bottom: 4vw;
  }

}
